$screen-mobiles-xs: 350px;
$screen-mobiles-s: 400px;
$screen-mobiles: 580px;
$screen-mobiles-l: 750px;
$screen-tablets: 900px;
$screen-tablets-l: 1200px;
$screen-tablets-xl: 1320px;

$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 28px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-hover-opacity: 1;

@import './node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

$items:
  'ThaiSansNeue-Bold',
  'ThaiSansNeue-ExtraBold',
  'ThaiSansNeue-Regular',
  'ThaiSansNeue-Black',
  'ThaiSansNeue-SemiBold',
  'ThaiSansNeue-ExtraLight',
  'ThaiSansNeue-SemiBoldItalic',
  'ThaiSansNeue-Light',
  'ThaiSansNeue-UltraLight',;

@each $item in $items {
  @font-face {
    font-family: $item;
    font-weight: 400;
    src: url(/fonts/#{$item}.ttf);
    font-display: block;
  }
}

@mixin overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s;
  background-color: rgba(#000, 0.3);
}

@mixin fullbleed {
  margin: calc(var(--app-padding) * -1) calc((100vw - var(--app-width)) * 0.5 * -1);

  @media (max-width: 600px) {  // var(--app-width) + var(--app-padding) * 2
    margin-right: calc(var(--app-padding) * -1);
    margin-left: calc(var(--app-padding) * -1);
  }
}

@mixin no-scrollbar {
  -ms-overflow-style: none;  // Internet Explorer 10+.
  scrollbar-width: none;  // Firefox.

  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome.
  }
}

@mixin modal {
  --modal-pe: none;

  display: grid;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: opacity 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  pointer-events: var(--modal-pe);
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  will-change: opacity;

  &--active {
    --modal-pe: auto;

    opacity: 1;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 61, 61, 0.55);
    cursor: pointer;
  }

  &__panel {
    --app-width: 567px;
    --app-padding: 12px;

    @extend .container;

    position: relative;
    z-index: 1;
    margin: 10vh auto;

    &__wrapper {
      padding: 25px 18px 35px;
      border-radius: 5px;
      background-color: #fff;
    }
  }
}

:root {
  --global-space: 20px;
  --app-width: 1100px;
  --app-padding: calc(var(--global-space) * 1.25);
  --webkit-fill-available: 100vh;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #0f1145;
  word-break: break-word;
  overflow-wrap: break-word;
}

body,
input,
select,
textarea,
button {
  color: #525252;
  color: #8476aa;
  font-family:
    Gilroy-SemiBold,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
}

textarea {
  resize: vertical;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  overflow-anchor: none;
  line-height: 1.3;
}

a,
button {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &[href]:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

[disabled] {
  opacity: 0.4;
  text-decoration: none !important;
  cursor: default;
  pointer-events: none; // To prevent `onClick` triggering.

  &[title] {
    cursor: help !important;
  }
}

figure,
iframe,
picture,
img {
  display: block;
  max-width: 100%;
  border: none;
}

ul,
ol {
  list-style-type: none;
}

table {
  // border-collapse: collapse;
  border-spacing: 0;
}

svg {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

video {
  display: block;
  width: 100%;
}

source {
  display: contents;
}

.container {
  max-width: calc(var(--app-padding) * 2 + var(--app-width));
  margin: 0 auto;
  padding: 0 var(--app-padding);
}

.Layout {
  min-height: var(--webkit-fill-available);
  padding: calc(var(--global-space) * 4) 0;

  &--webkit-fill-available {
    --webkit-fill-available: -webkit-fill-available;
  }
}

.WebkitFillAvailable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-fill-available;
  pointer-events: none;
}

.HorizontalScrollable {
  @include no-scrollbar;

  display: grid;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: $screen-mobiles) {
    margin-right: calc(var(--app-padding) * -1);
    margin-left: calc(var(--app-padding) * -1);
  }

  &__wrapper {
    @include no-scrollbar;

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--app-padding);

    &::before,
    &::after {
      @media (max-width: $screen-mobiles) {
        content: '';
        display: block;
        flex: 0 0 var(--app-padding);
        width: var(--app-padding);
        height: 1px;
      }
    }
  }

  &__item {
    scroll-snap-align: start;
  }
}

.LineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Nav {
  > .container {
    display: grid;
    grid-gap: calc(var(--global-space) * 2);
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
  }

  &__a {
    &::before {
      content: '';
      display: block;
      width: 36px;
      height: 36px;
      background-image: url('/images/Nav__a.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &__links {
    display: flex;

    &__a {
      color: #b5b5b5;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;

      &:not(:first-child) {
        margin-left: calc(var(--global-space) * 1);
      }
    }
  }

  &__right {
    display: grid;
    grid-gap: calc(var(--global-space) * 1);
    grid-template-columns: max-content max-content;
  }
}

.Button {
  display: block;
  width: 100%;
  padding: calc(var(--global-space) * 0.75) calc(var(--global-space) * 1);
  border: none;
  border-radius: 3px;
  background-color: #f2994a;
  box-shadow: none;
  color: #fff;
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &--shadow {
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  }

  &--orange-border {
    border: 1px solid #f2994a;
    border-radius: 4px;
    background-color: transparent;
  }

  &--long {
    padding-right: calc(var(--global-space) * 3);
    padding-left: calc(var(--global-space) * 3);
  }
}

.Hero {
  margin-top: calc(var(--global-space) * 6);

  &__wrapper {
    position: relative;
    max-width: 530px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(var(--global-space) * -1);
      left: calc(100% + calc(var(--global-space) * 1));
      width: 724px;
      height: 580px;
      background-image: url('/images/Hero.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &__h1 {
    color: #99efd0;
    font-family: Inter;
    font-size: 44px;
    font-weight: 900;
  }

  &__p {
    margin-top: calc(var(--global-space) * 1);
    color: #8476aa;
    font-family: Gilroy-SemiBold;
    font-size: 18px;
  }

  &__buttons {
    display: grid;
    grid-gap: calc(var(--global-space) * 1);
    grid-template-columns: repeat(2, 160px);
    margin-top: calc(var(--global-space) * 1);
  }

  &__video {
    display: grid;
    grid-gap: calc(var(--global-space) * 1);
    grid-template-columns: max-content 1fr;
    margin-top: calc(var(--global-space) * 2);

    &__a {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 140px;
      height: 80px;
      border-radius: 4px;
      background-color: #361c5d;

      &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('/images/Hero__video__a.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }

    &__right {
      &__p {
        color: #8476aa;
        font-family: Rubik;
        font-size: 16px;
      }

      &__a {
        color: #6d6d78;
        font-family: Rubik;
        font-size: 14px;
      }
    }
  }

  &__img {
    margin: calc(var(--global-space) * 5) auto 0;
  }
}

.YourChoice {
  position: relative;
  margin-top: calc(var(--global-space) * 5);

  > .container {
    position: relative;
    z-index: 1;
  }

  &__h2 {
    color: #99efd0;
    font-family: Inter;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
  }

  &__p {
    margin-top: calc(var(--global-space) * 0.75);
    color: #8476aa;
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    text-align: center;
  }

  &__dl {
    display: grid;
    grid-gap: calc(var(--global-space) * 1);
    grid-template-columns: repeat(3, 1fr);
    margin-top: calc(var(--global-space) * 2);

    &__item {
      display: grid;
      grid-gap: calc(var(--global-space) * 1);
      grid-template-columns: max-content 1fr;

      &__dt {
        color: #99efd0;
        font-family: Gilroy-Bold;
        font-size: 18px;
      }

      &__dd {
        margin-top: calc(var(--global-space) * 1);
        color: #8476aa;
        font-family: Gilroy-SemiBold;
        font-size: 14px;
      }
    }
  }

  &::before,
  &::after {
    opacity: 0.1;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: calc(var(--global-space) * 2);
    left: 0;
    width: 261px;
    height: 554px;
    background-image: url('/images/YourChoice-b.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: calc(var(--global-space) * -3);
    width: 325px;
    height: 565px;
    opacity: 0.1;
    background-image: url('/images/YourChoice-a.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
